<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <!-- Materialize CSS and Icons-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

  <link rel="stylesheet" href="/stylesheets/stuffStyle.css">

</head>

<body>

  <body class="pink lighten-4">

    <div class="container">

      <h1 class="purple-text text-darken-3">Details!</h1>

      <a href="/stuff" class="waves-effect cyan darken-1 waves-light btn">
        Go Back!
        <i class="large material-icons left">chevron_left</i>
      </a>

      <div class="section flow-text"></div>

      <div class="divider purple darken-3"></div>

      <div class="section"></div>

      <table class="highlight responsive yellow lighten-3" style="font-size: 20px">

        <thead>
          <tr>
            <th>Type</th>
            <th>Title</th>
            <th>Status</th>
            <th>Rating</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>
              <%= type %>
            </td>
            <td>
              <%= title %>
            </td>
            <td>
              <% if (status==true) { %> Watched <% }
              else { %> Unwatched <% } %>
            </td>
            <td>
              <% if (rating==null) { %> ~~ <% }
              else { %> <%= rating %> / 10 <% } %>
            </td>
          </tr>
        </tbody>

      </table>

      <div class="section"></div>

      <table class="highlight responsive yellow lighten-3" style="font-size: 20px">

        <tr>
          <th>Details</th>
          <td>
            <% if (details == '') { %> ~~ <% }
              else { %> <%= details %> <% } %>
          </td>
        </tr>

      </table>

      <div class="section"></div>

      <a href="/stuff/item/<%= id %>/delete" class="waves-effect pink lighten-1 waves-light btn-large right">delete
        <i class="material-icons right">delete</i></a>

      <!-- Modal Trigger -->
      <a class="waves-effect cyan darken-1 waves-light btn-large modal-trigger" href="#edit">
        edit<i class="large material-icons right">edit</i>
      </a>

      <!-- Modal Structure -->
      <div id="edit" class="modal">

        <form method="post" action="/stuff/item/<%= id %>">
          <!-- action isn't necessary because there's only one form per page
                    by default is the same as the page's url -->

          <div class="modal-content">

            <h1 class="cyan-text text-darken-1"
              style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">
              Edit:</h1>

            <div class="row">

              <div class="input-field col s12">
                <i class="material-icons prefix purple-text text-darken-3">star</i>
                <label for="title">Title</label>
                <input id="title" name="title" type="text" value="<%= title%>" required>
              </div>

            </div> <!-- end row 1 -->

            <div class="row">

              <div class="input-field col s4">
                <i class="material-icons prefix purple-text text-darken-3">star</i>
                <label for="type">Type</label>
                <input id="type" name="type" type="text" value="<%= type%>" required>
              </div>

              <div class="input-field col s4">
                <i class="material-icons prefix purple-text text-darken-3">star_border</i>
                <label for="status">
                  <input id="status" name="status" type="checkbox" class="filled-in" value="1" <% if (status == 1) { %> checked <% } %> >
                  <span>Watched?</span>
                </label>
              </div>

              <div class="input-field col s4">
                <i class="material-icons prefix purple-text text-darken-3">star_border</i>
                <label for="rating">Rating</label>
                <input id="rating" name="rating" type="number" value="<%= rating%>">
              </div>

            </div> <!-- end row 2 -->

            <div class="row">

              <div class="input-field col s12">
                <i class="material-icons prefix purple-text text-darken-3">star_border</i>
                <label for="details">Details</label>
                <textarea id="details" name="details" class="materialize-textarea"><%= details %></textarea>
                </textarea>
              </div>

            </div> <!-- end row 3 -->

          </div> <!-- end modal content -->

          <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect pink lighten-5 btn black-text left">Never Mind</a>
            <button class="waves-effect yellow lighten-1 btn black-text" type="submit">Submit
              <i class="large material-icons right">thumb_up</i>
            </button>
          </div>

        </form>

      </div> <!-- end modal -->

    </div>

  </body>

  <!-- Materialize JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

  <!-- initialize Materialize elements -->
  <script> M.AutoInit();</script>
</body>

</html>